name: GitHub Maintenance

on:
  workflow_dispatch:

jobs:
  github_maintenance:
    name: Clean Workflow Runs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Execute maintenance
        uses: ./ # Uses an action in the root directory
